    body {
  background-color: #DFF3E3; }
         ul {
  list-style-type: none;
  display: inline;
  background-color: #FFD1BA;
}
ul {
  list-style-type: none;
  background color: #7261A3;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
li {
  display: inline;
  padding: 16px 50px;
}
li a:hover {
  background-color: #7261A3;
}
